/*Views Ticker*/
.liScroll-container {
	height:auto;
}

.liScroll-container .mask {
	top:0px;
	width:800px;
}

#block-views-urgent-annoucements-block .field-content {
	color:red;
	font-size:16px;
}

.liScroll-container { /* the outer div with the black border */
	width:800px;
}

ul.liScroll li {
	width:2000px;
}

.tabledrag-toggle-weight-wrapper, .field-multiple-drag {
	display:none;
}
